.ekart--product--item {
    width: 290px;
    height: 400px;
    background-color: #fdfefe;
    margin: 10px 10px;
    padding: 10px 20px 10px 10px;
    border: #efefef 2px solid;
}

/* .ekart--product--item:hover {
    -webkit-box-shadow: 0 0 1px 3xp #000 inset;
    -moz-box-shadow: 0 0 1px 3px #000 inset;
    border: #efefef 2xp solid;
    transform: scale(1.05);
} */

.highlight-product {
    -webkit-box-shadow: 0 0 1px 3px #000 inset;
    -moz-box-shadow: 0 0 1px 3px #000 inset;
    border: #efefef 2px solid;
    box-shadow: 10px 10px 18px #cccccc;
    transform: scale(1.05);
}

.ekart-wishlist-sale-container {
    display: flex;
    width: 270px;
    position: absolute;
    padding: 5px 0px;
}

.ekart--add--to--wishlist {
    padding: 2px 10px;
}



.ekart--add--to--price {
    padding: 1px 5px;
    position: absolute;
    margin-top: -25px;
    background-color: #282828;
    color: white;
}

.ekart--product--image {
    width: 265px;
    height: 250px;
}

.ekart--product--name {
    font-size: 14px;
    color: #282828;
    margin-top: 7px;
}

.ekart--product--category,
.ekart--product--in--stock,
.ekart--product--available-colors {
    font-size: 12px;
    color: #999;
    margin-top: 7px;
}

.ekart-on-sale-tag {
    float: right;
    font-size: 14px;
    margin-top: -6px;
    margin-right: -10px;
    padding: 5px 20px;
    background-color: #FFC000;
    color: #282828;
    font-weight: bold;
    margin-left: 172px;
}