.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;
    cursor: pointer;
}

.ekart--product--details--info {
    position: absolute;
    z-index: 10;
    background-color: white;
    transition: 1s;
    width: 480px;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 10px 25px;
}

.ekart-product-detail-close {
    text-align: right;
    color: #282828;
    font-size: 20px;
    font-weight: lighter;
    padding: 5px 0px;
}

.ekart-product-detail-image {
    width: 100%;
    height: 320px;
}

.ekart-product-detail {
    padding: 10px 0px;
}

.ekart-product-detail-gbc {
    margin: 20px 0px;
}

.ekart-product-detail-gbc > span {
    background-color: #36454F;
    margin-left: 0px;
    padding: 5px 20px;
    font-size: 14px;
    color: white;
}

.ekart-product-detail-name {
    margin: 20px auto;
}

.ekart-product-detail-price {
    font-size: 14px;
    margin: 30px 0px;
    padding: 25px 10px;
    background-color: #fcf55f;
    border: 2px solid #ffc000;
    border-radius: 5px;
}

span {
    padding: 5px 10px;
    margin: 5px 5px;
    border-radius: 5px;
}

.ekart-product-detail-available-size {
    margin: 0px 0px;
    background-color: #282828;
    color: white;
    border-radius: 0px;
    padding: 10px 15px;
    font-size: 16px;
}

.ekart-product-detail-available-color {
    border-radius: 50px;
    padding: 8px 18px;
}

.ekart-product-detail-desc {
    margin-top: 30px;
    font-size: 14px;
}

.ekart-product-detail-addtoCart {
    margin: 20px 0px;
}

.btn-add-to-cart {
    border: none;
    background-color: #282828;
    padding: 10px 30px;
    font-size: 20px;
    color: #fff;
}

.scroll {
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px #282828;
}