<div class="ekart-featured-product-item">
    <ng-content select=".title"></ng-content>
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ipsa quia illum error animi corrupti blanditiis perspiciatis, dicta molestiae similique ipsam cupiditate magni id quo architecto accusamus labore quae optio, iure nostrum neque! Nam laboriosam ullam sit doloribus quas ex inventore perspiciatis? Aliquam velit at iure aliquid! Aliquid, blanditiis beatae.</p>
    <ng-content select=".call-to-action"></ng-content>
</div>